<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这块等于dao接口的实现  namespace必须和接口的类路径一样-->
<mapper namespace="com.artist.dao.PublisherDao">

    <!-- Publisher 为在mybatisConfig中设置的别名，如果不用别名，则需要写成带完整路径的方式：com.artist.model.Publisher-->
    <select id="getOne" parameterType="int" resultType="Publisher">
        select * from publisher where id=#{id}
    </select>

    <select id="getAll" resultType="Publisher">
        select * from publisher order by id
    </select>

    <select id="getByName" parameterType="String" resultType="Publisher">
        select * from publisher where name=#{name} order by id
    </select>

    <select id="getIdByName" parameterType="String" resultType="int">
        select id from publisher where name=#{name}
    </select>

    <!--返回的主键值在对象Publisher中-->
    <!--
    如果是用主键primary或者唯一索引unique区分了记录的唯一性,避免重复插入记录可以使用 IGNORE
    【参考】
    [mysql防止重复插入记录方法总结](http://www.111cn.net/database/mysql/51370.htm)
    -->
    <insert id="addOne" parameterType="Publisher" useGeneratedKeys="true" keyProperty="id">
        INSERT  IGNORE  into publisher(name) values(#{name})
    </insert>

    <!--
    如果需要批量插入还返回主键列表的话，需要使用mysql 3.3.1
    【参考】
    [](http://blog.csdn.net/jiangeeq/article/details/55047116)
    -->
    <insert id="addSome" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert IGNORE into publisher (name)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.name})
        </foreach>
    </insert>
</mapper>